html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #231F20;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
}

#unity-container
{
    position: fixed;
    inset: 0;
}

#unity-canvas
{
    display: block;
    background: #231F20;
    width: 100vw;
    height: 100vh;
    outline: none;
}

#unity-loading-bar
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
    user-select: none;
}

#unity-logo
{
    width: 154px;
    height: 130px;
    margin: 0 auto;
    background: url('unity-logo-dark.png') no-repeat center / contain;
}

#unity-progress-bar-empty
{
    width: 260px;
    height: 18px;
    margin: 12px auto 0 auto;
    background: url('progress-bar-empty-dark.png') no-repeat center / contain;
}

#unity-progress-bar-full
{
    width: 0%;
    height: 18px;
    margin: 12px auto 0 auto;
    background: url('progress-bar-full-dark.png') no-repeat left center / contain;
}

#unity-warning
{
    margin-top: 12px;
    padding: 10px 12px;
    display: none;
    color: #000;
    background: #FFE08A;
    border-radius: 4px;
}
